body{
    background-color: black;
    color: white;
}
.myNavbar {
   background-color: black;
   position: fixed;
   z-index: 2;
   width: 100%;
}
.myNavbar .active {
    color: white;
}
#NetflixLogo{
    width: 6.5em;
}
.navbar-brand img{
    width: 100%;
}
.myForm{
    justify-content: space-around;
    align-items: center;
}
.myForm a{
    padding: 0.5em;
    color: white;
    text-decoration: none;
}
.myForm p{
    padding-top: 1em;
}
.myForm img{
    width: 3em
}

#title {
    width: 100%;
    align-items: center;
    padding: 6% 2% 2% 2%;
}
h2 {
    padding: 0 1em;
    font-size: 2em;
}
.myDropdownTitle {
    background-color: none;
}
#titleLeftPart a{
    color: grey;
    border: 1px solid grey;
    padding: 2px 3px;
}
.myDropdownButton {
    color: white;
    border: 1px solid white;
    border-radius: 0%;
}
.myDropdownButton:hover {
    border: 1px solid white;
}
.myDropdownMenu {
    background-color: black;
    border: 1px solid white;
}
.myDropdownMenu a  {
    color: white;
}
.customCollpseMenu {
    padding-left: 2%;
}
.cardsSections{
    width: 100%;
    padding: 1em 1em 2em 1em;
}
.cardsSections h3 {
    padding-left: 1.5em;
    padding-bottom: 0.5em;
    font-size: 2em;
}
.myCardsSection{
padding-left: 4em;
}
.myCard {
    padding: 0 0.3em;
    transition: all 0.3s;
}
.myCard img{
    width: 100%;
}
.myCard:hover{
    transform: scale(1.2);
    z-index: 2;
}


#search-input {
    position: absolute;
    overflow: hidden;
    background-color: black;
    color: grey;
    padding-left: 2em;
    display: none;
    transition: width;
    top: 23%;
    right: 0;
}

#searchExpand{
width: 33%;
position: relative;
height: 3em;
overflow: hidden;
}

#searchCollapse{
    width: 50%;
    position: relative;
    height: 3em;
}


#search-input.showMyBar1 {
    display: block;
    animation-name: searchBar;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#search-input2.showMyBar2 {
    padding-left: 2em;
    display: inline-block;
    animation-name: searchBar2;
    animation-duration: 1s;
    animation-fill-mode:forwards;
}

#myButton {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: none;
    position: absolute;
    top: 27%;
    left: 92%;
}
#myButton2 {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: none;
    position: absolute;
    top: 27%;
    left: 92%;
}

#search-input2 {
    position: absolute;
    overflow: hidden;
    background-color: black;
    color: grey;
    padding-left: 2em;
    display: none;
    transition: width;
    top: 23%;
    right: 0;
}
#myButton.move1 {
    animation-name: moveButton1;
    animation-duration: 0.9s;
    animation-timing-function: ease;
    animation-fill-mode:forwards;
}
#myButton2.move2 {
    animation-name: moveButton2;
    animation-duration: 0.9s;
    animation-timing-function: ease;
    animation-fill-mode:forwards;
}
@keyframes searchBar{
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

@keyframes searchBar2{
    0% {
        width: 10;
        transform-origin: right;
        transform: scaleX(0);
    }
    100% {
        width: 50%;
        transform-origin: right;
        transform: scaleX(1);
    }
}
@keyframes moveButton2 {
    0% {
        left: 92%;
    }
    100% {
        left: 51%
    }
}
@keyframes moveButton1 {
    0% {
        left: 92%;
    }
    100% {
        left: 2%;
    }
}